/**
 * partials/header
 * ---
 */


// Header container
.header {
  background-color: #FFF;
    max-width: $wrapper-width;
    margin: 0 auto;
  }

// Logo
.logo {
  max-width: 280px;
}

.logo-img {}
